<!DOCTYPE html>
<html ng-app="gallifreyo" ng-controller="HostController as host">
<head>
	<meta charset="UTF-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>Gallifreyo</title>
	
	<link href="https://fonts.googleapis.com/css?family=Raleway:800" rel="stylesheet">
	<script type="text/javascript" src="src/jquery-2.1.1.min.js"></script>
	<script src="src/materialize.min.js"></script>
	<link rel="stylesheet" href="src/materialize.min.css">
	<script src="src/angular.min.js"></script>
	<!-- REPLACE WITH CDN AFTER -->
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script src="js/app.js"></script>
	<script type="text/javascript">
	  $(document).ready(function() {
      $('select').material_select();
      $('.collapsible').collapsible({
        onOpen: function(el){el.context.parentNode.childNodes[1].children[1].textContent = "expand_less"},
        onClose: function(el){el.context.parentNode.childNodes[1].children[1].textContent = "expand_more"},
      });
    });
    Number.prototype.toDeg = function(){
      return (this.valueOf() / Math.PI) * 180;
    };
  </script>
  <script type="text/ng-template" id="display-svg">
  <div id="drawing">
    <svg id="render" xmlns="http://www.w3.org/2000/svg" height="100%" width="100%" preserveAspectRatio="none">
      <g stroke-width="1" fill="none" stroke="black" transform="scale(1,-1)"> <!-- this flips it so it's not the wrong way round -->
        <g level="paragraph">
          <g level="sentence">
            <g level="word" ng-repeat="word in host.paragraph.sentences[0].words">
              <g level="letter" ng-attr-transform="{{word.transform}}" ng-repeat="letter in word.letters">
                <path ng-attr-d="{{letter.d}}" ng-attr-transform="{{letter.transform}}"></path>
              </g>
            </g>
          </g>
        </g>
      </g>
    </svg>
  </div>
  </script>
  <script type="text/ng-template" id="downloads">
  <div class="card white">
    <div class="card-content black-text">
      <span class="card-title">Download</span>
      <div class="section">
        <div class="center-align">
          <a class="waves-effect waves-light btn section">SVG</a>
          <a class="waves-effect waves-light btn">PNG</a>
          <a class="waves-effect waves-light btn">JSON</a>
        </div>
      </div>
    </div>
  </div>
  </script>
</head>
  <body class="grey lighten-2">
    <div class="container">
      <div class="row">
      
        <div class="col s12 l6"> <!-- this is the scrolly column on the left -->
        
        <div>
          <svg xmlns="http://www.w3.org/2000/svg" style="width: 100%; margin: auto" viewBox="0 -13.859375 71.171875 17.515625">
            <text style="font-family: Raleway, Roboto, sans-serif; font-weight:800;">
              Gallifreyo
            </text>
          </svg>
        </div>
        
          <!-- START INPUT CARD -->
          <div class="card white">
            <div class="card-content black-text">
              <span class="card-title">Text to translate</span>
              <p>Use the spacebar to separate words. Use a full-stop to separate sentences.</p>
              <div class="row input-field">
                <input class="row col l8 push-l2 s10 push-s1" ng-model="host.text" ng-change="host.change()">
                <a class="waves-effect waves-light btn row col s6 push-s3 center-align" ng-click="host.generate()">{{host.instant ? "Retransliterate" : "Transliterate"}}</a>
              </div>
            </div>
          </div>
          <!-- END INPUT CARD -->
          
          <display-svg class="hide-on-large-only"></display-svg>
          <downloads class="hide-on-large-only"></downloads>
          
          <!-- START OPTIONS CARD -->
          <div class="card white">
            <div class="card-content black-text">
              <span class="card-title">Options</span>
              <div class="section" id="basic">
                <div class="row valign-wrapper">
                  <div class="col s6">
                    Language
                  </div>
                  <div class="col s6 input-field right-align">
                    <select ng-model="langs.model" class="center-align" ng-change="host.instant ? host.generate() : null">
                      <option ng-repeat="lang in langs.availableOptions" ng-value="lang.$index">{{lang}}</option>
                    </select>
                  </div>
                </div>
                <div class="row valign-wrapper">
                  <div class="col s6">
                    Width of image (px)
                  </div>
                  <div class="col s6 input-field right-align">
                    <input class="center-align" type="number" ng-model="host.width" ng-change="host.instant ? host.generate() : null">
                  </div>
                </div>
                <div class="divider"></div>
                <div class="row section">
                  <div class="col s9">
                    Enable instant translation while you type
                  </div>
                  <div class="col s3 switch right-align">
                    <label>
                      <input type="checkbox" ng-model="host.instant" ng-change="host.instant ? host.generate() : null">
                      <span class="lever"></span>
                    </label>
                  </div>
                </div>
                <div class="row section">
                  <div class="col s9">
                    Enable sentence size scaling <!-- this needs to be changed to MODE: basic | spiral | size scaling -->
                  </div>
                  <div class="col s3 switch right-align">
                    <label>
                      <input type="checkbox" ng-model="host.scaling" ng-change="host.instant ? host.generate() : null">
                      <span class="lever"></span>
                    </label>
                  </div>
                </div>
                <div class="row section">
                  <div class="col s9">
                    Disable watermark
                  </div>
                  <div class="col s3 switch right-align">
                    <label>
                      <input type="checkbox" ng-model="host.watermark" ng-change="host.instant ? host.generate() : null">
                      <span class="lever"></span>
                    </label>
                  </div>
                </div>
                <div class="row  valign-wrapper">
                  <div class="col s7 m9">
                    Foreground colour (leave blank for transparent)
                  </div>
                  <div class="col s5 m3 input-field right-align">
                    <input class="center-align" type="text" ng-model="host.fore" ng-change="host.instant ? host.generate() : null">
                  </div>
                </div>
                <div class="row  valign-wrapper">
                  <div class="col s7 m9">
                    Background colour (leave blank for transparent)
                  </div>
                  <div class="col s5 m3 input-field right-align">
                    <input class="center-align" type="text" ng-model="host.back" ng-change="host.instant ? host.generate() : null">
                  </div>
                </div>
              </div>
              <div class="" id="advanced">
                <div class="row section">
                  <div class="col s9">
                    some advanced setting
                  </div>
                  <div class="col s3 switch right-align">
                    <label>
                      <input type="text" ng-model="host.structure" ng-change="host.instant ? host.generate() : null">
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <ul class="collapsible" data-collapsible="expandable" style="box-shadow: none;">
              <li>
                <div class="collapsible-header"><i class="material-icons">edit</i>Drawing<i class="material-icons right">expand_more</i></div>
                <div class="collapsible-body">
                  content
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">image</i>Output<i class="material-icons right">expand_more</i></div>
                <div class="collapsible-body">
                  content
                </div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">data_usage</i>Angle sizes<i class="material-icons right">expand_more</i></div>
                <div class="collapsible-body">
                  <div class="row">
                  <p></p>
                  <div class="col s6 input-field">
                    <input class="center-align" type="number" id="1angle" step="0.1" ng-model="host.settings.s.a" ng-change="host.instant ? host.generate() : null">
                    <label for="1angle">{{host.debug ? "s-block" : "Group 1"}}</label>
                  </div>
                  <div class="col s6 input-field">
                    <input class="center-align" type="number" id="2angle" step="0.1" ng-model="host.settings.p.a" ng-change="host.instant ? host.generate() : null">
                    <label for="2angle">Group 2</label>
                  </div>
                  <div class="col s6 input-field">
                    <input class="center-align" type="number" id="3angle" step="0.1" ng-model="host.settings.d.a" ng-change="host.instant ? host.generate() : null">
                    <label for="3angle">Group 3</label>
                  </div>
                  <div class="col s6 input-field">
                    <input class="center-align" type="number" id="4angle" step="0.1" ng-model="host.settings.f.a" ng-change="host.instant ? host.generate() : null">
                    <label for="4angle">Group 4</label>
                  </div>
                  <div class="col s6 input-field">
                    <input class="center-align" type="number" id="4angle" step="0.1" ng-model="host.settings.f.a" ng-change="host.instant ? host.generate() : null">
                    <label for="4angle">Vowels</label>
                  </div>
                  <div class="col s6 input-field">
                    <input class="center-align" type="number" id="5angle" step="0.1" ng-model="host.settings.buffer.letter" ng-change="host.instant ? host.generate() : null">
                    <label for="5angle">Letter buffer to angle ratio</label>
                  </div>
                  <div class="col s6 input-field">
                    <input class="center-align" type="number" id="6angle" step="0.1" ng-model="host.settings.buffer.word" ng-change="host.instant ? host.generate() : null">
                    <label for="6angle">Word buffer to angle ratio</label>
                  </div>
                  <div class="col s6 input-field">
                    <input class="center-align" type="number" id="7angle" step="0.1" ng-model="host.settings.buffer.sentence" ng-change="host.instant ? host.generate() : null">
                    <label for="7angle">Sentence buffer to angle ratio</label>
                  </div>
                  <div class="col s6 input-field">
                    <input class="center-align" type="number" id="8angle" step="0.1" ng-model="host.settings.buffer.sentence" ng-change="host.instant ? host.generate() : null">
                    <label for="8angle">Sentence buffer to angle ratio</label>
                  </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="collapsible-header active"><i class="material-icons">code</i>Debug tools<i class="material-icons right">expand_more</i></div>
                <div class="collapsible-body">
                  content
                <div class="row">
                  <div class="col s9">
                    Enable debug mode
                  </div>
                  <div class="col s3 switch right-align">
                    <label>
                      <input type="checkbox" ng-model="host.debug" ng-change="host.instant ? host.generate() : null">
                      <span class="lever"></span>
                    </label>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    Value of b for s-block (moonrise)
                  <div class="input-field right-align inline">
                    <input class="center-align" type="number" step="0.1" ng-model="host.settings.s.b" ng-change="host.instant ? host.generate() : null">
                  </div>
                </div>
                <div class="valign-wrapper">
                  <div class="col s7 m9">
                    Value of b for p-block (noon)
                  </div>
                  <div class="col s5 m3 input-field right-align">
                    <input class="center-align" type="number" step="0.1" ng-model="host.settings.p.b" ng-change="host.instant ? host.generate() : null">
                  </div>
                </div>
                <div class="divider"></div>
                <div class="valign-wrapper">
                  <div class="col s7 m9">
                    Value of b for d-block (dawn)
                  </div>
                  <div class="col s5 m3 input-field right-align">
                    <input class="center-align" type="number" step="0.1" ng-model="host.settings.d.b" ng-change="host.instant ? host.generate() : null">
                  </div>
                </div>
                <div class="divider"></div>
                <div class="valign-wrapper">
                  <div class="col s7 m9">
                    Value of b for f-block (twilight)
                  </div>
                  <div class="col s5 m3 input-field right-align">
                    <input class="center-align" type="number" step="0.1" ng-model="host.settings.f.b" ng-change="host.instant ? host.generate() : null">
                  </div>
                </div>
                </div>
              </li>
            </ul>
          </div>
          <!-- END OPTIONS CARD -->
          
          <!-- START donate nagger -->
          <div class="col l10 push-l1 s12">
            <div class="card white">
              <div class="card-content black-text">
                <div class="section">
                  <p>Gallifreyo, a modern Gallifreyan translator</p>
                  <p>For help, instruction and feedback, head to <a href="https://github.com/rossjrw/gallifreyo">the GitHub page</a>
                </div>
              </div>
            </div>
          </div>
          <!-- END donate nagger -->
          
        </div>
        
        <div class="col s12 l6 hide-on-med-and-down valign-wrapper" style="height: 100vh;">
        <div class="targset" style="width: 35%; position: fixed;">
          <!-- START IMAGE CARD -->
          <display-svg class="hide-on-med-and-down"></display-svg>
          <!-- END IMAGE CARD -->
          
          <!-- START DOWNLOAD CARD -->
          <downloads class="hide-on-med-and-down"></downloads>
          <!-- END DOWNLOAD CARD -->
        </div>
        </div>
      </div>
      <div class="row">
        
      </div>
    </div>
  </body>
</html>
