<!DOCTYPE html>
<html ng-app="gallifreyo" ng-controller="HostController as host">
<head>
	<meta charset="UTF-8">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>Gallifreyo</title>
	
	<link href="https://fonts.googleapis.com/css?family=Raleway:800" rel="stylesheet">
	<script type="text/javascript" src="src/jquery-2.1.1.min.js"></script>
	<script src="src/materialize.min.js"></script>
	<script src="src/angular.min.js"></script>
	<!-- REPLACE WITH CDN AFTER -->
	
	<link rel="stylesheet" href="css/materialize_mod.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script src="js/app.js"></script>
	
	<script src="js/colpick.js" type="text/javascript"></script>
  <link rel="stylesheet" href="css/colpick.css" type="text/css"/>
	
	<script type="text/javascript">
	  $(document).ready(function() {
      $('select').material_select();
      $('.collapsible').collapsible({
        onOpen: function(el){
          console.log(el);
          if(el.context.classList[0] == "material-icons"){
            el.context.parentNode.childNodes[2].childNodes[0].textContent = "expand_less";
          } else {
            el.context.childNodes[2].childNodes[0].textContent = "expand_less";
          };
        },
        onClose: function(el){
          console.log(el);
          if(el.context.classList[0] == "material-icons"){
            el.context.parentNode.childNodes[2].childNodes[0].textContent = "expand_more";
          } else {
            el.context.childNodes[2].childNodes[0].textContent = "expand_more";
          };
        },
      });
      
$('#colorpicker').colpick();
    });
    Number.prototype.toDeg = function(){
      return (this.valueOf() / Math.PI) * 180;
    };
  </script>
  <script type="text/ng-template" id="display-svg">
  </script>
  <script type="text/ng-template" id="downloads">
  </script>
</head>
</html>
